/* autoprefixer grid: autoplace */

.root {
  border-bottom: 1px solid var(--greyVeryLight);
}

.wrapper {
  display: grid;
  grid-template-columns: auto minmax(0px, 1fr);
  grid-column-gap: 50px;
}

.logo {

}

.logoText {
  font-size: 4rem;
  line-height: 60px;
}

.navigations {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigations a {
   line-height: 60px;
}
